-- Создание таблицы HD кошельков для P.I.D.R. игры
CREATE TABLE IF NOT EXISTS _pidr_hd_wallets (
    id BIGSERIAL PRIMARY KEY,
    user_id VARCHAR(255) NOT NULL,
    coin VARCHAR(10) NOT NULL,
    address VARCHAR(255) NOT NULL,
    derivation_path VARCHAR(100) NOT NULL,
    address_index INTEGER NOT NULL,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Уникальные индексы
CREATE UNIQUE INDEX IF NOT EXISTS idx_pidr_hd_user_coin 
ON _pidr_hd_wallets (user_id, coin);

CREATE UNIQUE INDEX IF NOT EXISTS idx_pidr_hd_coin_index 
ON _pidr_hd_wallets (coin, address_index);

CREATE UNIQUE INDEX IF NOT EXISTS idx_pidr_hd_address 
ON _pidr_hd_wallets (coin, address);

-- Индексы для быстрого поиска
CREATE INDEX IF NOT EXISTS idx_pidr_hd_user_id 
ON _pidr_hd_wallets (user_id);

CREATE INDEX IF NOT EXISTS idx_pidr_hd_coin 
ON _pidr_hd_wallets (coin);

CREATE INDEX IF NOT EXISTS idx_pidr_hd_created_at 
ON _pidr_hd_wallets (created_at DESC);